<!DOCTYPE html>
<html lang="ro">
</head>
    
    <%- include("../fragmente/head.ejs"); %>
    <link rel="stylesheet" href="/Resurse/css/layout.css">
    <meta name="author" content="Genica Liliana Săftoiu (Golea) ">
    <meta name="keywords" content=" covrigi, gogoși, scovergi, pâine, cozonaci, plăcinte, merdenele, ștrudele, turte de nuntă și de botez, japoneze, capete, prescuri, produse proaspete și de calitate.
    ">
    <meta name="description" content="Site-ul este creat pentru comercializarea produselor de patiserie. Facem si turte de nunta sau de botez, dar si prescuri pentru parastase si inmormantare. La comenzi de peste 50 ron, livrarea este gratuita. (la domiciliul dvs.)">
    
    <title> Patiseria Miruna </title>

</head>

<body>
    <!-- <div class="dropdown">
        <button onclick="toggleDropdown()" class="dropbtn">Meniu Principal</button>
        <div id="dropdownContent" class="dropdown-content">
            <a href="#">patiserie</a>
            <a href="#">panificație</a>
            <a href="#">contact</a>
            <a href="#">despre noi</a>
        </div>
    </div> -->

    <%- include("../fragmente/header.ejs"); %>
             
    <main class="grid-container">
        
       
        <div class="prezentare">
            <h2>
                Bine ați venit pe site-ul nostru!
            </h2>
            <div>
                <p>
                    Vă oferim o gamă variată de produse proaspete și de calitate, cum ar fi: covrigi (simpli, cu susan, cu mac, cu stafide), gogoși (simple, cu brânză dulce, cu gem de vișine, cu Nutella, cu cremă de vanilie), scovergi, pâine (cu făină fără gluten, graham, cu semințe, neagră), cozonaci (cu nucă și cacao, cu rahat), plăcinte (cu brânză dulce și stafide, cu brânză sărată, cu mere, cu dovleac), merdenele, ștrudele (cu mere, cu brânză dulce), turte de nuntă și de botez, japoneze, capete, prescuri, etc.
                </p>
                <p>
                    Avem și produse pentru diabetici (scovergi, cozonaci, etc.), sau de post, dar și pentru persoanele cu alergii, de exemplu produse fără gluten (cozonaci). Vă mulțumim pentru încredere!
                </p>
                <p>
                    Patiseria noastră vă poate livra comanda gratuit, dacă comandați produse în valoare de minim 50 ron! Colaborăm și cu Glovo, <a href="https://glovoapp.com/ro/ro/">aici!</a>
                </p>
                <p><span class="fas fa-bread-slice fa-spin spinner"></span><span class="fas fa-cake-candles"></span></p>
            </div>
        </div>

        <div class="diverse">
            <details>
                <summary>
                    <strong> Important!</strong>
                </summary>
                <p>
                    Primim comenzi de cozonaci de Paște și de Crăciun, turte de nuntă și de botez, japoneze, capete, prescuri! Livrare rapidă!
                </p>
            </details>
        </div>   
        <div class="calendar">
            <h3>Calendar de evenimente</h3>
            <p> 04.04.2024 Ionescu Evelina 05.04.2024 Popescu Cristina 06.04.2024 Mihalache Ioana 07.04.2024 Ion Filofteia </p>
        </div>

        <div class="tabel">
            <table>
                <caption>Întrebări frecvente</caption>
                <thead>
                    <tr>
                        <th>Nr. crt.</th>
                        <th>Întrebări</th>
                        <th>Răspunsuri</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1.</th><th>Se pot face comenzi telefonice?</th><th>Da, de preferat cu o zi înainte de livrare.</th><th rowspan="4">Ionescu</th>
                    </tr>
                    <tr>
                        <th>2.</th><th>Se poate comanda și la sediul dvs?</th><th>Bineînțeles. Vă așteptăm cu drag!</th>
                    </tr>
                    <tr>
                        <th>3.</th><th>Care este comanda minimă pentru livrare gratuită?</th><th>Comanda minimă este de 50 ron. Doar pentru zonele București-Ilfov și împrejurimi.</th>
                    </tr>
                    <tr>
                        <th>4.</th><th>Produsele respectă standardele de calitate?</th><th>Desigur. Avem autorizație sanitară și lucrăm cu materie primă de calitate. Oferim certificat pentru produse (turte, prescuri, capete, colaci, cozonaci) la cerere.</th>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4">Notă: În cazul în care aveți alte întrebări, vă rugăm sa ne contactați.</th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="anunturi">
            <h3>Anunturi</h3>
            <p> Angajăm patiser cu experiență. Pentru mai multe detalii, vă rugăm să ne contactați la numărul de telefon de pe site.</p>
        </div>
        <div class="useri-activi">
            <h3>Lista de utilizatori</h3>
            <p>Ionescu Evelina, Popescu Cristina, Mihalache Ioana, Ion Filofteia, Iordache Marius.</p>
        </div>
        <div class="lista-useri">
            <h3>Date utilizatori</h3>
            <p>ionescuevelina@gmail.com, popescucristina@yahoo.com, mihalachei@gmail.com, ionf@yahoo.com, iordachem@yahoo.com </p>
        </div>
        <div class="despre-site">    
            <h3>Date despre site</h3>
            <p>Patiseria Miruna este vizitată zilnic de peste 2000 clienți. Ne recomandă produsele proaspete și de calitate.</p>
        </div>
        <div class="utile">
            <p>Utile</p>
            <a href="Program_de_lucru.html" download> Descărcare Program lucru</a>
        
            <address>
            <b> Adresa noastră este:</b><br>
            <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355393,26.0970118,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu" target="_blank"> locatie Google Maps</a>
            <br>
            <a href="tel:+40722397623">telefon: +40 722 397 623</a>
            <br>
            <a href="mailto:patiserie_miruna@gmail.com"> email: patiserie_miruna@gmail.com</a>
            <br>
            <a href="https://wa.me/+40722397623" target="_blank"> WhatsApp</a><br>
            </address>

            <p class="copyright">
                <small>&copy; 2024 Patiserie Miruna. Toate drepturile rezervate. <time datetime="2024-03-25">25 martie 2024</time></small>
            </p>
        </div>
        <section id="welcome">
            <section id="Subcapitol-1">
                <h3>
                    Rețetar
                </h3>
                <p class="linkuri-iframe">
                    <span>
                        <a href="https://www.youtube.com/embed/dS4-9jHU2yo?si=rA0kjUF6WibnCmrm" target="iframe-retetar">Merdenele</a>
                        <a href="https://www.youtube.com/embed/fGbeTJ7-ljw?si=cKEbE0_ef6Nm-2Hy" target="iframe-retetar">Cozonaci</a>
                        <a href="https://www.youtube.com/embed/WIP7Z62eKFQ?si=gKhaD9Trja2fhF4A" target="iframe-retetar">Placinte</a>
                    </span>
                    <iframe name="iframe-retetar" width="560" height="315" src="https://www.youtube.com/embed/dS4-9jHU2yo?si=rA0kjUF6WibnCmrm" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </p>
    
                <p>
                    <i>
                        Merdenele cu brânză sărată: apă, făină, oțet, sare, unt, brânză telemea sărată, brânză dulce, ouă și griș.
                    </i>
                    <br />
                    <i>
                        Cozonaci cu nucă fără gluten: lapte, zahăr, drojdie, făină fără gluten, amidon de porumb, zahăr, ouă, unt, nucă, cacao, sare.
                    </i>
                </p>
            </section>
            
            <section id="Subcapitol-2">
                <h3>
                    Selecții din meniu
                </h3>
                Cele mai apreciate produse
                <ol>
                    <li>Cozonaci cu nuci și miere</li>
                    <li>Cozonaci cu nucă fără gluten</li>
                    <li>Merdenele cu brânză sărată</li>
                    <li>Plăcinte cu mere</li>
                    <li>Plăcinte cu brânză dulce și stafide</li>
                    <li>Turte de nuntă și de botez</li>
                    <li>Prescuri pentru înmormântare și parastas</li>
                </ol>
            </section>
            <section id="Subcapitol-3">
                <h4>
                    Despre patiserie
                </h4>
                    La ce să vă așteptați?
                    <ol>
                        <li>Al doilea produs la jumătate de preț</li>
                        <li>Produse preparate în laboratorul nostru</li>
                        <li>Produsele respectă toate standardele de calitate în domeniu</li>
                        <li>Livrare gratuită la domiciliul dvs. (doar București-Ilfov și împrejurimi)</li>
                        <li>Prețuri accesibile</li>
                    </ol>
            </section>
        </section>
        <section id="info">
            <h2>
                Informații
            </h2>
            <figure>
                <picture>
                    <source srcset="/Resurse/Image/gogosi.jpg" media="(max-width:800px)" />
                    <source srcset="/Resurse/Image/placinte.jpg" media="(max-width:1200px)" />
                    <img src="/Resurse/Image/turta_botez.jpg" alt="Turtă botez" width="75%">
                </picture>
            </figure>
    
        </section>
    </main>
    <script src="/Resurse/javascript/men.js"></script>

    <%- include("../fragmente/footer.ejs"); %>

</body>
</html>