<footer>
        <br>
        <br>
        <p id="banner"> Acesta este un proiect școlar!</p>
        <div><a href="#" id="link-top"><div id="triunghi"></div><label class="label" hidden>SUS</label></a></div>
        <div class="watermark">
            Saftoiu (Golea)
            <br />
            Genica-Liliana
        </div>
    </footer>