<div class="header">
    <header>
        <h1 id="Top">
            Patiseria Miruna
        </h1>    
    </header>
    <nav class="meniu">

        <input type="checkbox" id="burger-input" name="burger-input" />
        <label for="burger-input" class="hamburger">
            <div>
                &#9776;
            </div>
        </label>

        <ul class="menu-list">
            <li class="menu-item">
                <a href="./index.html"><i id="casuta" class="fa-solid fa-house"></i><em> Acasă</em></a>
                <ul class="submeniu">
                    <li>
                        <a href="#Subcapitol-1">Rețetar</a>
                    </li>
                    <li>
                        <a href="#Subcapitol-3"> Despre patiserie </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="pagina.html"><em>Meniul</em></a>
                <ul class="submeniu">
                    <li>
                        <a href="./index.html">Lista meniu</a>
                    </li>
                    <li>
                        <a href="./index.html">Populare</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="#info"><em>Informații</em></a>
            </li>
        </ul>
    </nav>
</div>